<div id="<%= dom_id friend %>">

<div class="p-5 mb-4 bg-custom-gray text-dark rounded-5">
  <div class="container-fluid py-5">

    <h1 class="display-5 fw-bold">
      <%= friend.first_name %> 
      <%= friend.last_name %>
    </h1>

    </br>

    <h5><p class="col-md-8 fs-4">
      <b>Email:</b> <%= friend.email %>  |  
      <b>Phone:</b> <%= friend.phone %>  |  
      <b>Twitter:</b> <%= friend.twitter %>
    </p></h5>

  </div>
</div>
